<section class="phx-hero">
  <h1 class="text-xl font-bold underline">
    Let's play with Tailwind and Phoenix live view.
  </h1>
</section>

<section>
  <h2>Goals:</h2>
  <ul>
    <li>A tailwind view, Flexbox with side-bar, toolbar, statusbar and working area.</li>
    <li>A nice looking button that we're going to add some logic to.</li>
    <li>LiveView counter update when user clicks on the button.</li>
  </ul>
</section>