<main class="grow p-4 mx-16 max-w-4xl outline flex flex-col">
  <div class="p-4 outline outline-blue-500 grow flex flex-col">
    <div class="outline grow-0">
      Toolbar panel
    </div>
    <div class="outline grow">
      Center
    </div>
    <div class="outline grow-0">
      Status panel
    </div> 
  </div>

  <div class="hidden"> <div>This is /page/index.html.heex</div> 
    <div><%= @inner_content %> </div>
  </div>
</main>
